.head {
  border-bottom: 1px solid $border-color;
  display: block;
  lost-utility: clearfix;
  color: $head-font-color;
  height: 40px;
  &-wrapp {
    height: 100%;
  }
  &__left {
    lost-column: 5/12;
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  &__right {
    lost-column: 5/12;
    display: flex;
    flex-direction: row;
  }
  &__currency {
    width: 45px;
    text-transform: uppercase;
    position: relative;
    font-size: 12px;
    &:hover {
      cursor: pointer;
      .head__currency-list {
        display: block;
      }
      .head__currency-current {
        color: $main-blue;
        &::after {
          @include sprite($drop-down-icon);
        }
      }
    }
    &-current {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      &::after {
        content: '';
        display: inline-block;
        @include sprite($drop-down-icon-grey);
        margin: 0 5px 0 0;
      }
    }
    &-list{
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 90%;
      display: none;
      background-color: $white;
      -webkit-box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.22);
      box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.22);
      &:hover {
        display: block;
        cursor: pointer;
        .head__currency-current::after {
          @include sprite($drop-down-icon);
        }
      }
      &__item {
        padding: 10px;
        &:hover {
          cursor: pointer;
          background-color: #279cc7;
          color: $white;
        }
      }
    }
  }
  &__lang {
    position: relative;
    text-transform: capitalize;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 97px;
    width: 100%;
    &:hover {
      cursor: pointer;
      .head__lang-list {
        display: block;
        top: 91%;
      }
      .head__lang-current::after {
        @include sprite($drop-down-icon);
      }
      .head__lang-current {
        color: $main-blue;
      }
    }
    &-current {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      &:after {
        content: '';
        display: inline-block;
        @include sprite($drop-down-icon-grey);
        margin: 0 5px;
      }
      &:hover {
        cursor: pointer;
        color: $main-blue;

      }
    }
    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      position: absolute;
      background-color: $white;
      display: none;
      background-color: $white;
      font-size: 12px;
      -webkit-box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.22);
      box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.22);
      width: 100%;
      &__item {
        padding: 5px 0;
        &:hover {
          cursor: pointer;
          background-color: #279cc7;
          color: $white;
        }
      }
    }
  }
  &__account {
    font-size: 12px;
    color: $head-font-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    &:hover {
      .head__account-list {
        display: block;
      }
      .head__account-current {
        .head__account-current__link {
          color: $main-blue;
        }
        &::after {
          @include sprite($drop-down-icon);
        }
      }
    }
    &-current {
      text-transform: capitalize;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      &:after,
      &:before {
        content: '';
        display: inline-block;
        margin: 0 5px;
      }
      &:before {
        @include sprite($acc-icon);
      }
      &:after {
        @include sprite($drop-down-icon-grey)
      }
      &:hover {

      }
      &__link {
        text-decoration: none;
        color: $head-font-color;
      }
    }
    &-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: none;
      -webkit-box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.22);
      box-shadow: 0px -2px 15px 0px rgba(0, 0, 0, 0.22);
      background-color: $white;
      width: 100%;
      position: absolute;
      top: 95%;
      &__item {
        padding: 5px 10px;
        text-transform: capitalize;
        &:hover {
          cursor: pointer;
          background-color: $main-blue;
          color: $white;
        }
      }
    }
  }
  &__wishlist {
    text-transform: capitalize;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-link {
      text-decoration: none;
      color: $head-font-color;
      &::before {
        content: '';
        display: inline-block;
        @include sprite($heart-icon);
      }
    }
  }
  &__login {
    text-transform: capitalize;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-link {
      text-decoration: none;
      color: $head-font-color;
      &::before {
        content: '';
        display: inline-block;
        @include sprite($login-icon);
      }
    }
  }
  &__chat {}
  &__call{}
}
