// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$acc-icon-name: 'acc-icon';
$acc-icon-x: 180px;
$acc-icon-y: 47px;
$acc-icon-offset-x: -180px;
$acc-icon-offset-y: -47px;
$acc-icon-width: 10px;
$acc-icon-height: 11px;
$acc-icon-total-width: 191px;
$acc-icon-total-height: 159px;
$acc-icon-image: '../image/sprite.png';
$acc-icon: (180px, 47px, -180px, -47px, 10px, 11px, 191px, 159px, '../image/sprite.png', 'acc-icon', );
$argentina-flag-icon-name: 'argentina-flag-icon';
$argentina-flag-icon-x: 163px;
$argentina-flag-icon-y: 108px;
$argentina-flag-icon-offset-x: -163px;
$argentina-flag-icon-offset-y: -108px;
$argentina-flag-icon-width: 14px;
$argentina-flag-icon-height: 11px;
$argentina-flag-icon-total-width: 191px;
$argentina-flag-icon-total-height: 159px;
$argentina-flag-icon-image: '../image/sprite.png';
$argentina-flag-icon: (163px, 108px, -163px, -108px, 14px, 11px, 191px, 159px, '../image/sprite.png', 'argentina-flag-icon', );
$bolivia-flag-icon-name: 'bolivia-flag-icon';
$bolivia-flag-icon-x: 19px;
$bolivia-flag-icon-y: 131px;
$bolivia-flag-icon-offset-x: -19px;
$bolivia-flag-icon-offset-y: -131px;
$bolivia-flag-icon-width: 14px;
$bolivia-flag-icon-height: 11px;
$bolivia-flag-icon-total-width: 191px;
$bolivia-flag-icon-total-height: 159px;
$bolivia-flag-icon-image: '../image/sprite.png';
$bolivia-flag-icon: (19px, 131px, -19px, -131px, 14px, 11px, 191px, 159px, '../image/sprite.png', 'bolivia-flag-icon', );
$call-icon-name: 'call-icon';
$call-icon-x: 174px;
$call-icon-y: 64px;
$call-icon-offset-x: -174px;
$call-icon-offset-y: -64px;
$call-icon-width: 15px;
$call-icon-height: 16px;
$call-icon-total-width: 191px;
$call-icon-total-height: 159px;
$call-icon-image: '../image/sprite.png';
$call-icon: (174px, 64px, -174px, -64px, 15px, 16px, 191px, 159px, '../image/sprite.png', 'call-icon', );
$cart-icon-name: 'cart-icon';
$cart-icon-x: 73px;
$cart-icon-y: 64px;
$cart-icon-offset-x: -73px;
$cart-icon-offset-y: -64px;
$cart-icon-width: 23px;
$cart-icon-height: 20px;
$cart-icon-total-width: 191px;
$cart-icon-total-height: 159px;
$cart-icon-image: '../image/sprite.png';
$cart-icon: (73px, 64px, -73px, -64px, 23px, 20px, 191px, 159px, '../image/sprite.png', 'cart-icon', );
$chat-icon-name: 'chat-icon';
$chat-icon-x: 23px;
$chat-icon-y: 108px;
$chat-icon-offset-x: -23px;
$chat-icon-offset-y: -108px;
$chat-icon-width: 19px;
$chat-icon-height: 16px;
$chat-icon-total-width: 191px;
$chat-icon-total-height: 159px;
$chat-icon-image: '../image/sprite.png';
$chat-icon: (23px, 108px, -23px, -108px, 19px, 16px, 191px, 159px, '../image/sprite.png', 'chat-icon', );
$check-icon-name: 'check-icon';
$check-icon-x: 89px;
$check-icon-y: 108px;
$check-icon-offset-x: -89px;
$check-icon-offset-y: -108px;
$check-icon-width: 13px;
$check-icon-height: 13px;
$check-icon-total-width: 191px;
$check-icon-total-height: 159px;
$check-icon-image: '../image/sprite.png';
$check-icon: (89px, 108px, -89px, -108px, 13px, 13px, 191px, 159px, '../image/sprite.png', 'check-icon', );
$close-icon-name: 'close-icon';
$close-icon-x: 68px;
$close-icon-y: 108px;
$close-icon-offset-x: -68px;
$close-icon-offset-y: -108px;
$close-icon-width: 16px;
$close-icon-height: 13px;
$close-icon-total-width: 191px;
$close-icon-total-height: 159px;
$close-icon-image: '../image/sprite.png';
$close-icon: (68px, 108px, -68px, -108px, 16px, 13px, 191px, 159px, '../image/sprite.png', 'close-icon', );
$drop-down-icon-grey-name: 'drop-down-icon-grey';
$drop-down-icon-grey-x: 51px;
$drop-down-icon-grey-y: 94px;
$drop-down-icon-grey-offset-x: -51px;
$drop-down-icon-grey-offset-y: -94px;
$drop-down-icon-grey-width: 8px;
$drop-down-icon-grey-height: 5px;
$drop-down-icon-grey-total-width: 191px;
$drop-down-icon-grey-total-height: 159px;
$drop-down-icon-grey-image: '../image/sprite.png';
$drop-down-icon-grey: (51px, 94px, -51px, -94px, 8px, 5px, 191px, 159px, '../image/sprite.png', 'drop-down-icon-grey', );
$drop-down-icon-name: 'drop-down-icon';
$drop-down-icon-x: 38px;
$drop-down-icon-y: 94px;
$drop-down-icon-offset-x: -38px;
$drop-down-icon-offset-y: -94px;
$drop-down-icon-width: 8px;
$drop-down-icon-height: 5px;
$drop-down-icon-total-width: 191px;
$drop-down-icon-total-height: 159px;
$drop-down-icon-image: '../image/sprite.png';
$drop-down-icon: (38px, 94px, -38px, -94px, 8px, 5px, 191px, 159px, '../image/sprite.png', 'drop-down-icon', );
$edit-icon-name: 'edit-icon';
$edit-icon-x: 47px;
$edit-icon-y: 108px;
$edit-icon-offset-x: -47px;
$edit-icon-offset-y: -108px;
$edit-icon-width: 16px;
$edit-icon-height: 13px;
$edit-icon-total-width: 191px;
$edit-icon-total-height: 159px;
$edit-icon-image: '../image/sprite.png';
$edit-icon: (47px, 108px, -47px, -108px, 16px, 13px, 191px, 159px, '../image/sprite.png', 'edit-icon', );
$english-flag-icon-name: 'english-flag-icon';
$english-flag-icon-x: 125px;
$english-flag-icon-y: 108px;
$english-flag-icon-offset-x: -125px;
$english-flag-icon-offset-y: -108px;
$english-flag-icon-width: 14px;
$english-flag-icon-height: 11px;
$english-flag-icon-total-width: 191px;
$english-flag-icon-total-height: 159px;
$english-flag-icon-image: '../image/sprite.png';
$english-flag-icon: (125px, 108px, -125px, -108px, 14px, 11px, 191px, 159px, '../image/sprite.png', 'english-flag-icon', );
$french-flag-icon-name: 'french-flag-icon';
$french-flag-icon-x: 144px;
$french-flag-icon-y: 108px;
$french-flag-icon-offset-x: -144px;
$french-flag-icon-offset-y: -108px;
$french-flag-icon-width: 14px;
$french-flag-icon-height: 11px;
$french-flag-icon-total-width: 191px;
$french-flag-icon-total-height: 159px;
$french-flag-icon-image: '../image/sprite.png';
$french-flag-icon: (144px, 108px, -144px, -108px, 14px, 11px, 191px, 159px, '../image/sprite.png', 'french-flag-icon', );
$geman-flag-icor-name: 'geman-flag-icor';
$geman-flag-icor-x: 0px;
$geman-flag-icor-y: 131px;
$geman-flag-icor-offset-x: 0px;
$geman-flag-icor-offset-y: -131px;
$geman-flag-icor-width: 14px;
$geman-flag-icor-height: 11px;
$geman-flag-icor-total-width: 191px;
$geman-flag-icor-total-height: 159px;
$geman-flag-icor-image: '../image/sprite.png';
$geman-flag-icor: (0px, 131px, 0px, -131px, 14px, 11px, 191px, 159px, '../image/sprite.png', 'geman-flag-icor', );
$gold-star-name: 'gold-star';
$gold-star-x: 109px;
$gold-star-y: 47px;
$gold-star-offset-x: -109px;
$gold-star-offset-y: -47px;
$gold-star-width: 66px;
$gold-star-height: 12px;
$gold-star-total-width: 191px;
$gold-star-total-height: 159px;
$gold-star-image: '../image/sprite.png';
$gold-star: (109px, 47px, -109px, -47px, 66px, 12px, 191px, 159px, '../image/sprite.png', 'gold-star', );
$gold-stars-copy-name: 'gold-stars-copy';
$gold-stars-copy-x: 0px;
$gold-stars-copy-y: 147px;
$gold-stars-copy-offset-x: 0px;
$gold-stars-copy-offset-y: -147px;
$gold-stars-copy-width: 12px;
$gold-stars-copy-height: 12px;
$gold-stars-copy-total-width: 191px;
$gold-stars-copy-total-height: 159px;
$gold-stars-copy-image: '../image/sprite.png';
$gold-stars-copy: (0px, 147px, 0px, -147px, 12px, 12px, 191px, 159px, '../image/sprite.png', 'gold-stars-copy', );
$gray-stars-name: 'gray-stars';
$gray-stars-x: 38px;
$gray-stars-y: 47px;
$gray-stars-offset-x: -38px;
$gray-stars-offset-y: -47px;
$gray-stars-width: 66px;
$gray-stars-height: 12px;
$gray-stars-total-width: 191px;
$gray-stars-total-height: 159px;
$gray-stars-image: '../image/sprite.png';
$gray-stars: (38px, 47px, -38px, -47px, 66px, 12px, 191px, 159px, '../image/sprite.png', 'gray-stars', );
$heart-icon-name: 'heart-icon';
$heart-icon-x: 38px;
$heart-icon-y: 131px;
$heart-icon-offset-x: -38px;
$heart-icon-offset-y: -131px;
$heart-icon-width: 13px;
$heart-icon-height: 11px;
$heart-icon-total-width: 191px;
$heart-icon-total-height: 159px;
$heart-icon-image: '../image/sprite.png';
$heart-icon: (38px, 131px, -38px, -131px, 13px, 11px, 191px, 159px, '../image/sprite.png', 'heart-icon', );
$home-name: 'home';
$home-x: 101px;
$home-y: 64px;
$home-offset-x: -101px;
$home-offset-y: -64px;
$home-width: 22px;
$home-height: 18px;
$home-total-width: 191px;
$home-total-height: 159px;
$home-image: '../image/sprite.png';
$home: (101px, 64px, -101px, -64px, 22px, 18px, 191px, 159px, '../image/sprite.png', 'home', );
$icon-car-name: 'icon-car';
$icon-car-x: 38px;
$icon-car-y: 64px;
$icon-car-offset-x: -38px;
$icon-car-offset-y: -64px;
$icon-car-width: 30px;
$icon-car-height: 25px;
$icon-car-total-width: 191px;
$icon-car-total-height: 159px;
$icon-car-image: '../image/sprite.png';
$icon-car: (38px, 64px, -38px, -64px, 30px, 25px, 191px, 159px, '../image/sprite.png', 'icon-car', );
$login-icon-name: 'login-icon';
$login-icon-x: 182px;
$login-icon-y: 108px;
$login-icon-offset-x: -182px;
$login-icon-offset-y: -108px;
$login-icon-width: 9px;
$login-icon-height: 11px;
$login-icon-total-width: 191px;
$login-icon-total-height: 159px;
$login-icon-image: '../image/sprite.png';
$login-icon: (182px, 108px, -182px, -108px, 9px, 11px, 191px, 159px, '../image/sprite.png', 'login-icon', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 0px;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-width: 191px;
$logo-height: 42px;
$logo-total-width: 191px;
$logo-total-height: 159px;
$logo-image: '../image/sprite.png';
$logo: (0px, 0px, 0px, 0px, 191px, 42px, 191px, 159px, '../image/sprite.png', 'logo', );
$search-icon-active-name: 'search-icon-active';
$search-icon-active-x: 0px;
$search-icon-active-y: 108px;
$search-icon-active-offset-x: 0px;
$search-icon-active-offset-y: -108px;
$search-icon-active-width: 18px;
$search-icon-active-height: 18px;
$search-icon-active-total-width: 191px;
$search-icon-active-total-height: 159px;
$search-icon-active-image: '../image/sprite.png';
$search-icon-active: (0px, 108px, 0px, -108px, 18px, 18px, 191px, 159px, '../image/sprite.png', 'search-icon-active', );
$search-icon-copy-name: 'search-icon-copy';
$search-icon-copy-x: 151px;
$search-icon-copy-y: 64px;
$search-icon-copy-offset-x: -151px;
$search-icon-copy-offset-y: -64px;
$search-icon-copy-width: 18px;
$search-icon-copy-height: 18px;
$search-icon-copy-total-width: 191px;
$search-icon-copy-total-height: 159px;
$search-icon-copy-image: '../image/sprite.png';
$search-icon-copy: (151px, 64px, -151px, -64px, 18px, 18px, 191px, 159px, '../image/sprite.png', 'search-icon-copy', );
$search-icon-name: 'search-icon';
$search-icon-x: 128px;
$search-icon-y: 64px;
$search-icon-offset-x: -128px;
$search-icon-offset-y: -64px;
$search-icon-width: 18px;
$search-icon-height: 18px;
$search-icon-total-width: 191px;
$search-icon-total-height: 159px;
$search-icon-image: '../image/sprite.png';
$search-icon: (128px, 64px, -128px, -64px, 18px, 18px, 191px, 159px, '../image/sprite.png', 'search-icon', );
$slider-shevron-name: 'slider-shevron';
$slider-shevron-x: 0px;
$slider-shevron-y: 47px;
$slider-shevron-offset-x: 0px;
$slider-shevron-offset-y: -47px;
$slider-shevron-width: 33px;
$slider-shevron-height: 56px;
$slider-shevron-total-width: 191px;
$slider-shevron-total-height: 159px;
$slider-shevron-image: '../image/sprite.png';
$slider-shevron: (0px, 47px, 0px, -47px, 33px, 56px, 191px, 159px, '../image/sprite.png', 'slider-shevron', );
$small-cart-icon-name: 'small-cart-icon';
$small-cart-icon-x: 107px;
$small-cart-icon-y: 108px;
$small-cart-icon-offset-x: -107px;
$small-cart-icon-offset-y: -108px;
$small-cart-icon-width: 13px;
$small-cart-icon-height: 13px;
$small-cart-icon-total-width: 191px;
$small-cart-icon-total-height: 159px;
$small-cart-icon-image: '../image/sprite.png';
$small-cart-icon: (107px, 108px, -107px, -108px, 13px, 13px, 191px, 159px, '../image/sprite.png', 'small-cart-icon', );
$spritesheet-width: 191px;
$spritesheet-height: 159px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($acc-icon, $argentina-flag-icon, $bolivia-flag-icon, $call-icon, $cart-icon, $chat-icon, $check-icon, $close-icon, $drop-down-icon-grey, $drop-down-icon, $edit-icon, $english-flag-icon, $french-flag-icon, $geman-flag-icor, $gold-star, $gold-stars-copy, $gray-stars, $heart-icon, $home, $icon-car, $login-icon, $logo, $search-icon-active, $search-icon-copy, $search-icon, $slider-shevron, $small-cart-icon, );
$spritesheet: (191px, 159px, '../image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
