$border-color: #dddddd;
$head-font-color: #484848;
$white: #ffffff;
$main-blue: #279cc7;
$price-red: #e13131;
$nav-bg-color: #202020;
$social-bg-color: #414141;
$social-icon-color: #b6b6b6;
$hot-red: #ff0000;
$new-blue: #03a9f4;

//media
$desktop: 1170px;
$tablet: 1024px;
$mobile: 768px;

//color for rectangl
$brown-color: #925829;
$red-color: #f64b00;
$green-color: #80a439;
$orange-color: #e9a105;
$blue-color: #03a9f4;
