html {
  @import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900');
  @import url('https://fonts.googleapis.com/css?family=Lobster+Two:400,700i');
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.wrapp {
  lost-center: 1170px;
}
@import './sprite';
@import './var';
@import './color-icon';
@import './flag-icon';
@import './header';
@import './service';
@import './navigation';

/*.app {
  @include sprite($gold-stars-copy);
}*/
